@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: #181a20;
  user-select: none;
}
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
  position: relative;
  z-index: 100;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #5a5a5ab4;
  transition: 0.2s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #898989c2;
  transition: 0.2s;
}
